<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang || 'en' %>">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= htmlWebpackPlugin.options.title || '' %></title>
</head>

<body>
	<div id="content">
		<!-- example of if statement in EJS -->
		<!-- 
		<% if (htmlWebpackPlugin.options.target) { %>
			<h2><%= `previous ${htmlWebpackPlugin.options.previous}` %></h2>
		<% } %> 
		-->
		
		<!-- router which shows navigation links -->
		<%= require(`./src/views/partials/router.js`) %>
		<!-- the javascript page to target in /src/views/* -->
		<%= require(`./src/views/${htmlWebpackPlugin.options.target}.js`) %>
	</div>
</body>

</html>

<!-- get -r /home/roland/Documents/Projects/nodeTidbits/express-static-app-boilerplate/static-site-generator/dist/* /home/roland -->